Checks: '-*,bugprone-*,performance-*,readability-*,modernize-*,-modernize-use-trailing-return-type,cppcoreguidelines-*'
WarningsAsErrors: ''
HeaderFilterRegex: '.*(include|src)/.*'
FormatStyle: none
AnalyzeTemporaryDtors: false
UseColor: true
