[submodule "tests/lib/googletest"]
	path = tests/lib/googletest
	url = https://github.com/google/googletest.git

[submodule "libs/kissfft"]
	path = libs/kissfft
	url = https://github.com/tescolopio/kissfft.git

[submodule "tools/emsdk"]
	path = tools/emsdk
	url = https://github.com/tescolopio/emsdk.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
