[submodule "tests/lib/googletest"]
	path = tests/lib/googletest
	url = https://github.com/google/googletest.git
	branch = main

[submodule "libs/kissfft"]
	path = libs/kissfft
	url = https://github.com/mborgerding/kissfft.git
	branch = master

[submodule "tools/emsdk"]
	path = tools/emsdk
	url = https://github.com/emscripten-core/emsdk.git
	branch = main
